/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-text-color: var(--pink);/*DarkMode first*/
  --title-color: var(--purple);
  --section-title-color: var(--fucsia);
  --header-theme-menu-color: var(--fucsia);
  --button-hover: var(--opacity-fucsia);
  --subtitle-color: var(--bark-blue);
  --background-color: var(--bark-blue);
  --background-image: url(../images/cover-image-dark.png);
  --subtitle-background-color: var(--fucsia);
  --accsent-shadow: var(--fucsia);
}
